@charset "utf-8";

/* Reset */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;outline:0;}									
article, aside, figure, footer, header, hgroup, nav, section {display:block;}
img, object, embed {max-width:100%;}
ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
del {text-decoration:line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted #000; cursor:help;}
table {border-collapse:collapse; border-spacing:0; font-size:inherit; font:100%;}
th {font-weight:bold; vertical-align:bottom;}
td {font-weight:normal; vertical-align:middle;}
hr {display:block; height:1px; border:0; border-top:1px solid #CCC; margin:10px 0; padding:0;}
input, select {vertical-align:middle;}
pre {white-space:pre; white-space:pre-wrap; white-space:pre-line; word-wrap:break-word;}
input[type="radio"] {vertical-align:text-bottom;}
input[type="checkbox"] {vertical-align:bottom; *vertical-align:baseline;}
input:focus,textarea:focus{outline: none}
a:hover, a:active {outline:none;}
small {font-size:85%;}
strong, th {font-weight:bold;}
td, td img {vertical-align:top;}
sub, sup {font-size:75%; line-height:0; position:relative;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
.clickable, label, input[type=button], input[type=submit], button {cursor:pointer;}
body, select, input, textarea {color:#808080;}
button, input, select, textarea {margin:0; resize:none;}
button {width:auto; overflow:visible;} 
.ie7 img {-ms-interpolation-mode:bicubic;}
.ie6 html {filter:expression(document.execCommand("BackgroundImageCache", false, true));}
ins {background:#FCD700; color:#000; text-decoration:none;}
mark {background:#FCD700; color:#000; font-style:italic; font-weight:bold;}
::-moz-selection{background:#36609c; color:#FFF; text-shadow:none;}
::selection {background:#36609c; color:#FFF; text-shadow:none;}

/* Toolbox */
.left {float:left;}
.right {float:right;}
.hide {display:none !important;}
.clear {clear:both;}
.screen-reader {position:absolute; top:-99999px; visibility:hidden;}

/* Page style */
body{font:12px Arial, sans-serif;background:#e6e2e7;}
a{text-decoration:none;}
a:hover{}

/* Header */
#header{width:100%;height:238px;background:url(../img/layout/img-topo.png) no-repeat center 0;float:left;}
#header h1{width:442px;height:177px;margin:20px 0 0 -221px;left:50%;background:url(../img/layout/logo-univia.png) no-repeat;float:left;text-indent:-999em;position:absolute;}
/* Content */
#content{width:940px;margin:0 auto;}
#content .gallery-box {width:620px;margin:50px 20px 0 0;float:left;}
#content .gallery-box h2 {width:620px;height:69px;background:url(../img/layout/img-btns.png) no-repeat;float:left;text-indent:-999em}
#content .gallery-box .gallery {width:597px;height:302px;margin:0 10px;top:15px;background:url(../img/layout/bg-gallery.png) no-repeat;float:left;}
#content .gallery-box .gallery li h3 {min-width:360px;height:30px;margin:7px 0 0 8px;padding:5px;color:#FFF;font:25px 'Verdana',sans-serif;background:#150619;border-radius:5px;position:absolute;}
#content .gallery-box .gallery li figure {margin:7px 6px 1px 8px;float:left;}
#content .gallery-box .gallery li figure img {margin:0;}
#content .gallery-box .gallery li h4 {width:620px;margin:30px 0 10px 0;color:#707070;font:16px 'Verdana',sans-serif;text-transform:uppercase;float:left;}
#content .gallery-box .gallery li p {width:600px;color:#707070;font:12px 'Verdana',sans-serif;float:left;}
#content .gallery-box .prev {width:35px;height:42px;top:-155px;left:3px;background:url(../img/layout/img-arrows.png) no-repeat;float:left;text-indent:-999em;position:relative;z-index:999}
#content .gallery-box .next {width:35px;height:42px;top:-155px;right:6px;background:url(../img/layout/img-arrows.png) no-repeat 0 -43px;float:right;text-indent:-999em;position:relative;z-index:999}
#content .sign-up {width:300px;margin:50px 0 0;float:left;}
#content .sign-up h2 {width:300px;height:69px;background:url(../img/layout/img-btns.png) no-repeat 0 -72px;float:left;text-indent:-999em}
#content .sign-up .sign {width:300px;height:432px;background:url(../img/layout/bg-inscricoes.png) no-repeat;float:left;}
#content .sign-up .sign h3 {width:260px;margin:20px auto 0;color:#FFF;font:14px 'Verdana',sans-serif;}
#content .sign-up .sign form {width:260px;margin:20px auto 0;}
#content .sign-up .sign form label {float:left;position:relative;}
#content .sign-up .sign form label input {width:230px;height:31px;margin:0 0 10px -10px;padding:0 10px 0 35px;color:#b7b7b7;font:12px 'verdana',sans-serif;background:url(../img/layout/bg-input.png) no-repeat right 0;border:none;float:left;resize:none;}
#content .sign-up .sign form label input {color:#d80505;}
#content .sign-up .sign form label textarea {color:#d80505!important;}
#content .sign-up .sign form label .name {width:14px;height:14px;top:9px;left:3px;background:url(../img/layout/ico-forms.png) no-repeat;float:left;position:absolute;}
#content .sign-up .sign form label .mail {width:14px;height:14px;top:11px;left:3px;background:url(../img/layout/ico-forms.png) no-repeat 0 -29px;float:left;position:absolute;}
#content .sign-up .sign form label .phone {width:14px;height:14px;top:9px;left:3px;background:url(../img/layout/ico-forms.png) no-repeat 0 -54px;float:left;position:absolute;}
#content .sign-up .sign form label .courses {width:14px;height:14px;top:9px;left:3px;background:url(../img/layout/ico-forms.png) no-repeat 0 -80px;float:left;position:absolute;z-index:999}
#content .sign-up .sign form label .comments {width:16px;height:14px;top:9px;left:3px;background:url(../img/layout/ico-forms.png) no-repeat 0 -108px;float:left;position:absolute;}
#content .sign-up .sign form label textarea {width:230px;height:132px;margin:0 0 10px -5px;padding:10px 10px 0 35px;color:#b7b7b7;font:12px 'verdana',sans-serif;background:url(../img/layout/bg-textarea.png) no-repeat 0 0;border:none;float:left;resize:none;}
#content .sign-up .sign form .send-form {width:85px;height:31px;background:url(../img/layout/img-btn-enviar.png) no-repeat;float:right;text-indent:-999em;border:none;}
#content .sign-up .sign .send-sucess {width:165px;margin:7px 0 0 16px;color:#FFF;font:12px 'Verdana',sans-serif;float:left;}
#content .sign-up .sign .send-error {width:165px;margin:1px 0 0 16px;color:#FFF;font:12px 'Verdana',sans-serif;float:left;}
/* Selectmenu
----------------------------------*/
.ui-selectmenu { width:267px!important;height:30px;margin:0 0 10px;left:-5px;background:url(../img/layout/bg-input.png) no-repeat 0 0;display: block; position:relative;float:left;}
.ui-selectmenu-icon { width:23px;height:23px;background:url(../img/layout/img-arrow.png) no-repeat 0 0;position:absolute; right:5px; margin-top:-11px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown {width:265px!important;height:150px!important;margin:0 0 0 2px;border-radius:2px;background:#fff;}
.ui-selectmenu-menu li {width:265px;height:30px;border-radius:5px;border:none!important;float:left;}
.ui-selectmenu-menu li a,.ui-selectmenu-status {width:255px;height:26px;padding:3px 0 0 10px;color:#b7b7b7;font:12px/24px 'arial',sans-serif;float:left;}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { top:5px;left:20px;line-height: 1.4em;position:relative; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-menu .ui-selectmenu-item-selected a {border-radius:2px;background:#8FA96D!important;color:#373737;}
.ui-selectmenu-menu li a:hover {background:#f7f7f7; color:#598a16;}
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

#content h5 {width:940px;margin:45px 0 10px 10px;color:#137f43;font:22px 'verdana',sans-serif;text-decoration:underline;float:left;}
#content img {margin:0 0 0 10px;}
/* Footer */
#footer{width:510px;height:165px;left:50%;margin:55px 0 0 -205px;background:url(../img/layout/img-line-footer.png) no-repeat center top;float:left;position:relative;}
#footer address {width:360px;margin:40px 0 0 75px;text-align:center;color:#137f43;font:18px 'Verdana' sans-serif;float:left;}